<section>
  <div class="container">
    <div>
      <h2 class="custom-header">Rooms in hotel</h2>
    </div>
    <p class="pb-4" style="text-align: center">Here you can find a list of rooms in our hotels. Every room in our hotel has room service, so feel free to call in any
      time. </p>

  </div>
</section>

<section id="rooms">
  <div class="row justify-content-center">
    <div class="mat-form-field">
      <mat-form-field floatPlaceholder="never" color="accent">
        <input matInput type="text" placeholder="Filter rooms by size or number of beds" name="searchTerm" [(ngModel)]="searchTerm">
      </mat-form-field>

    </div>
  </div>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <mat-card class="card-picture col-6 col-md-4 col-lg-3 mb-4" *ngFor="let room of rooms | SearchPipe:searchTerm">
        <mat-card-title>
          <span>{{room.roomName}}</span>
        </mat-card-title>
        <img mat-card-image src="{{room.picUrl}}">
        <strong>
          <i class="fa fa-bed"></i> {{room.beds}}</strong>
        <br>
        <strong>
            <i class="icon ion-md-resize"></i> {{room.size}}m2</strong>
        <br>
        <strong>
          <i class="fa fa-usd"></i> {{room.price}}</strong>
        <br>
        
        <button mat-stroked-button (click)="goToThisRoom(room.id)">Reserve</button>
      </mat-card>
    </div>
  </div>
</section>