.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}

.field{
  width: 500px !important;
}
.mat-card {
  margin: 10px;
}

.mat-form-field {
  display: contents;
  position: relative;
  text-align: center;
  width: 50%;
}
.mat-card-image{
  height: 250px !important;

}
.custom-header {
  text-align: center;
  margin: 50px;
  font-size: 1.4rem;
  text-transform: uppercase;
}

section#rooms .row {
  margin-bottom: 30px;
}
