<div class="aboutus-area">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 justify-content-center">
                <div class="aboutus-image float-left hidden-sm">
                    <img src="../../../../assets/logo_gold.png" alt="">
                </div>
            </div>
            <div class="col-md-8 col-sm-6 col-xs-12">
                <div class="aboutus-content ">
                    <h1>About
                        <span>Met Hotels</span>
                    </h1>
                    <br>
                    <p></p>
                    <p style="text-align: justify">Met Hotel's history dates back to the 1970s. The first hotel was opened in New York in 1971. Since then,
                        the chain has continued to expand to the American soil and the rest of the world, so today within
                        the chain are some of the most prestigious hotels in the Pacific Ocean, the Mediterranean Sea, etc.</p>
                    <p>Today, the chain records the following numbers:</p>
                </div>
            </div>
            <div class="counter col-xs-12" style="
                margin: 15px;">

                <div class="single-counter text-center">
                    <h2 class="counter">27</h2>
                    <p>Hotels</p>
                </div>

                <div class="single-counter text-center">
                    <h2 class="counter">562</h2>
                    <p>Rooms</p>
                </div>

                <div class="single-counter text-center">
                    <h2 class="counter">12</h2>
                    <p>Beach resorts</p>
                </div>

                <div class="single-counter text-center">
                    <h2 class="counter">3 432 651</h2>
                    <p>Visitors per year</p>
                </div>
            </div>
        </div>
    </div>
</div>