<section id="showcase">
  <div id="myCarousel" class="carousel slide carousel-fit" data-ride="carousel">
    <ol class="carousel-indicators carousel-indicators--round">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item carousel-image-1 active">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3">Met Hotels</h1>
            <p class="lead">Predstavlja jedan od najvećih lanaca hotela na svetu. U okviru naših hotela uvek ćete dobiti najbolju uslugu.</p>
            <a routerLink="/about-us" class="btn btn-outline-light">Saznaj više</a>
          </div>
        </div>
      </div>

      <div class="carousel-item carousel-image-2">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block mb-5">
            <h1 class="display-3">Resort</h1>
            <p class="lead">Svi naši hoteli spadaju u grupu resorta, tako da u okviru nasših objekata imate sadržaje poput bazena, privatnih
              plaža, barova, jet sky-a i mnogih drugih.</p>
            <a routerLink="/gallery" class="btn btn-outline-light">Pogledaj galeriju</a>
          </div>
        </div>ƒ
      </div>

      <div class="carousel-item carousel-image-3">
        <div class="container">
          <div class="carousel-caption d-none d-sm-block text-right mb-5">
            <h1 class="display-3">Sobe</h1>
            <p class="lead">Sve sobe u okviru naših hotela poseduju mini bar, djakuzi, kao u uslugu 24/7.
            </p>
            <a routerLink="/rooms" class="btn btn-outline-light">Pogledaj</a>
          </div>
        </div>
      </div>
    </div>

    <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
      <span class="carousel-control-prev-icon"></span>
    </a>

    <a href="#myCarousel" data-slide="next" class="carousel-control-next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>

<section id="home-icons" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4 text-center">
        <i class="fa ion-md-clock"></i>
        <p></p>
        <h3>24/7</h3>
        <p>Naše osoblje Vam je uvek na raspolaganju u bilo koje doba dana ili noći, rado će ispuniti sve Vaše želje.
        </p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa ion-md-medkit"></i>
        <p></p>
        <h3>Ambulanta</h3>
        <p>U sklopu svakog našeg resort kompleksa, nalazi se ambulanta, jer su nam gosti na 1. mestu.</p>
      </div>
      <div class="col-md-4 mb-4 text-center">
        <i class="fa ion-logo-bitcoin"></i>
        <p></p>
        <h3>Plaćanje kriptovalutama</h3>
        <p>Ponosno kažemo da smo prvi lanac hotela na svetu koji pružaju uslugu plaćanja kriptovalutama.</p>
      </div>
    </div>
  </div>
</section>

<section id="home-heading" class="p-5">
  <div class="dark-overlay">
    <div class="row">
      <div class="col">
        <div class="container pt-5">
          <h1>Spremni da priušite sebi užitak kakav zaslužujete?</h1>
          <p class="d-none d-md-block">Ne čekajte ni minut više, rezervišite svoju sobu u nekom od naših resort smeštaja. </p>
          <a href="#" class="btn btn-outline-light">Rezerviši sobu</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="info" class="py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <h3>Jamaica Resort</h3>
        <p>Ove godine, našem lancu dodali smo još jedno eksluzivno letovalište.</p>
        <p>Zavirite i otkrijte da li je ovo Vaša naredna destinacija.</p>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/MZtKBK-rRIE"></iframe>
      </div>
    </div>
  </div>
</section>
<section id="testimonial-section" class="p-4 bg-dark text-white">
  <div class="container">
    <h2 class="text-center">Iskustva gostiju</h2>
    <div class="row">
      <div class="col">
        <div class="slider">
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">Fantastično osoblje uvek na raspolaganju, pregršt sadržaja, bukvalno nemate potrebe da napuštate resort!</p>
              <footer class="blockquote-footer">Milena Mićić
                <cite title="">, Cuba resort</cite>
              </footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">Sobe odlično opremljene, hrana takodje, jednostavno perfektno!</p>
              <footer class="blockquote-footer">Nemanja Stević
                <cite title="Company 2">, Mexico Resort</cite>
              </footer>
            </blockquote>
          </div>
          <div>
            <blockquote class="blockquote">
              <p class="mb-0">Fisrt resorort where I can pay with cryptocurrencies, one word AWESOME!</p>
              <footer class="blockquote-footer">Mitch Pallow
                <cite title="Company 3">, Florida Resort</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>